absl-py==0.5.0
anaconda-client==1.2.2
anaconda-project==0.8.2
astor==0.7.1
astropy==2.0.12
atomicwrites==1.3.0
attrs==18.2.0
Automat==0.8.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
certifi==2018.11.29
cffi==1.13.2
chardet==3.0.4
clyent==1.2.1
conda==4.3.16
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipaddress==1.0.23
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lxml==4.4.1
Markdown==3.0.1
matplotlib==2.2.3
mock==2.0.0
more-itertools==5.0.0
numpy==1.14.4
opencv-python==3.4.3.18
pandas==0.23.0
parsel==1.5.2
pbr==4.2.0
Pillow==5.3.0
pluggy==0.7.1
Protego==0.1.15
protobuf==3.6.1
py==1.8.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycosat==0.6.3
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.2.1
pytest==3.6.4
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.13
queuelib==1.5.0
requests==2.21.0
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.88
scikit-learn==0.19.1
scipy==1.2.1
Scrapy==1.8.0
service-identity==18.1.0
singledispatch==3.4.0.3
six==1.11.0
spicy==0.16.0
subprocess32==3.5.2
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
tornado==5.1.1
Twisted==19.7.0
urllib3==1.24.1
w3lib==1.21.0
Werkzeug==0.14.1
zope.interface==4.6.0
